body {
  background: rgb(161, 102, 102);
  margin-left: 200px;
  margin-right: 200px;
}

header {
  margin-top: 80px;
}

h1 {
  color: red;
  font-family: fantasy;
}

h2 {
  font-family: fantasy;
}

p {
  font-size: 18px;
}

footer {
  margin-bottom: 30px;
}
.img_padrao {
  margin-bottom: 20px;
  width: 300px;
}

.logo {
  width: 30px;
}
